<div class="full-page">
    <mat-card class="login-card">
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR21nt4Bh7cCrocO2uS5bU27xVHSC1ozEH8E610EU6V34P2gsxg">
        
        <mat-card-title style="text-align: center;">
            Clínica UNMSM
        </mat-card-title>
        <mat-card-content>
            <mat-form-field class="login-field">
                <input matInput placeholder="Email" name="email" [(ngModel)]="email" type="email" />
                <mat-error >DNI deben ser 8 digitos</mat-error>
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password">
                <mat-error >El password deben contener más de 4 caracteres</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" class="login-field" (click)="login(email, password)"
                type="submit">
                Ingresar
            </button>
        </mat-card-actions>
    </mat-card>
</div>